data
backups
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries/epost_0_9.xml
/.idea/libraries/epost_0_91.xml
/.idea/libraries/epost_0_92.xml
/.idea/libraries/epost_0_912.xml
/.idea/libraries/sugar_working_7_9_5_0.xml
/.idea/libraries/sugar_working_7_9_5_02.xml
/.idea/libraries/SugarEnt_Full_7_7_0_0.xml
/.idea/libraries/SugarEnt_Full_7_7_0_02.xml
/.idea/libraries/SugarEnt_Upgrade_7_9_5_0_to_8_0_6.xml
/.idea/libraries/SugarEnt_Upgrade_7_9_5_0_to_8_0_62.xml
/.idea/libraries/upgrade.xml
/.idea/libraries/upgrade2.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/SugarDockerized.iml
/.idea/vcs.xml
